{% include 'application/layout.html' %}
{% block content %}

{% if page == 'register' %}
Register
{% else %}

<div class="auth">
    <div class="card">
        <h1>Login</h1>

        <form action="" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="••••••••" />
            </div>
            <div>
                <input type="submit" value="Log In" />
                <a href="">Forget Password?</a>
            </div>
        </form>

        <div>
            <p>Don't have an Account?</p>
            <a href="">Sign Up</a>
        </div>

    </div>
</div>

{% endif %}

{% endblock %}