{% include 'application/layout.html' %} {% block content %} {% load
crispy_forms_tags %}
<h1 class="form-group main-heading text-center">Profile Settings</h1>

<div class="form-group container">
  <form action="" method="post">
    {% csrf_token %} {{ form | crispy }}
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4 center-block">
      <button
        id="singlebutton"
        name="singlebutton"
        type="submit"
        class="btn btn-primary center-block"
      >
        Save
      </button>
    </div>
  </form>
</div>
{% endblock %}
