{% extends 'application/layout.html' %}
{% block content %}
<div class="container">
    <a href="{{ request.META.HTTP_REFERER }}"><i class="fa-solid fa-arrow-left"></i></a>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        {{ formset.management_form }}
        <div id="form-list">
            {% for f in formset %}
            <div id="formset">{{ f }}</div>
            {% endfor %}
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Done" />
    </form>
</div>

{% endblock %}